body{
  background:purple;
  color:blue;
  text-align:middle;
  font-size:30px;
}
.main{
  margin-top:10px;
}
.sub{
  margin-bottom:10px;
  display: block;
  width:25px;
  height:300px;
}
.olm{
display: block;
  width:1000px;
}