body{
  background:purple;
  color:blue;
  text-align:middle;
  font-size:30px;
}
.main{
  margin-top:10px;
}
.sub{
  margin-bottom:10px;
  display: inline;
  width:200px;
  height:300px;
}
.olm{
display: inline;
  width:450px;
}